<ion-header style="text-align: center;">
  <ion-navbar>
    
    <ion-buttons class="navbar-logo" slot="start" defaultHref="/">
      <img defaultHref="/" src="../../assets/img/logo_smallrere.png">
    </ion-buttons>
    
    <ion-button href="/usuario">Inicio</ion-button>

   <ion-button slot="start" href="/historialus">Historial</ion-button>

   <ion-button href="/perfil">Perfil</ion-button>

   <ion-button color="warning" href="/Login">Logout</ion-button>

   
    

  </ion-navbar>
  
  
</ion-header>

<ion-content>
  
  

  <ion-row>
    <ion-col size="3">Nombre</ion-col>
    <ion-col size="3">Preferencias</ion-col>
    <ion-col size="3">Email</ion-col>
  </ion-row>
  <ion-row *ngFor="let usuario of Usuarios| pipas:pipes">
    
    <ion-col size="3">{{usuario.nombre}}</ion-col>
    <ion-col size="3">{{usuario.preferencias}}</ion-col>
    <ion-col size="3" size-md="4" size-lg="2">{{  usuario.email  }}</ion-col>
    <ion-col><ion-button type="small"(click)="realizarDonacion(usuario)" >Realizar Donacion</ion-button></ion-col>
  </ion-row>
  
  
</ion-content>


